
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Commerce{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include '_partials/_header.html.twig' %}
    
    <main class="container">
        {% include '_partials/_flash_messages.html.twig' %}
        {% block body %}{% endblock %}
    </main>
    
    {% include '_partials/_footer.html.twig' %}
    
    <script src="{{ asset('js/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>